@import "tailwindcss";

@theme {
  --color-brand-blue: #151528;
  --color-brand-orange: #f26419;
  --color-brand-card: #111122;
  --background-image-wave: url('/images/background.webp');
}

@layer base {
  body {
    background-color: var(--color-brand-blue);
    background-image: var(--background-image-wave);
    background-repeat: repeat;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}